<span class="medium-text">Edit Setup</span>
<% remote_form_for(@scenario, :url => scenario_setup_path(@scenario)) do |f| %>
  <%= f.text_area :setup, 
          {:value => @scenario.setup, 
           :style => "width:550px;"}%>

  <% if @scenario.plan.scenarios.other_scenarios(@scenario).with_setup.size > 0 %>
  <div>
    <span class="medium-text">Or</span>
    <select name="other_scenario_id" style="margin-bottom: 3px;">
      <option value="none_selected">Copy a setup</option> 
      <%= options_from_collection_for_select(@scenario.plan.scenarios.other_scenarios(@scenario).with_setup.updated_first, "id", "name")%>
    </select>
  </div>
  <% else %>
    <br/>
  <% end %>

  <%= submit_tag 'Save this setup' %> or 
  <%= link_to_remote('Cancel',
      :url => scenario_setup_path(@scenario),
      :method => :get) %>
<% end %>
