<span class="medium-text">Setup</span>
<%= link_to('Edit',
      edit_scenario_setup_path(@scenario),
      :class => "small icon pencil",
      :method => :get,
      :remote => true) %>
<br/>
<%=raw hl_if_query(safe_textilize(@scenario.setup))%>

