<span class="medium-text">Setup</span>
<%= link_to_remote('Edit',
      :url => edit_scenario_setup_path(@scenario),
      :html => {:class => "small icon pencil"},
      :method => :get) %>
<br/>
<%=hl_if_query(safe_textilize(@scenario.setup))%>

