<span class="medium-text">Setup</span>
<%= link_to_remote('Edit',
      :url => edit_scenario_setup_path(@scenario),
      :html => {:class => "small-link rename-link"},
      :method => :get) %>
<br/>
<%=textilize_without_paragraph(h(@scenario.setup))%>
