<span class="medium-text">Requirement ID</span>
<%= link_to('Edit',
      edit_scenario_requirement_path(@scenario),
      :class => "small icon pencil",
      :method => :get, 
      :remote => true) %>
<br/>
<%= hl_if_query(@scenario.requirement) %>
