<span class="medium-text">Requirement</span>
<%= link_to_remote('Edit',
      :url => edit_scenario_requirement_path(@scenario),
      :html => {:class => "small-link rename-link"},
      :method => :get) %>
<br/>
<%= @scenario.requirement %>
