.feature {
  padding-left: 15px;
  font-size: 16px;
  font-weight:bold;
  background: #99F;  
  margin: 3px;
}

.feature_box {
  border: 1px solid #99f;
}

.feature_box_hover {
  background: #c99;
}

.scenario {
  cursor: move;
  background: #eee;
  margin: 5px;
  padding: 5px;
}

input.text-field {
  font-size:18px;
  width: 300px;
  border-right: 2px solid #99F;
  border-bottom: 2px solid #99F;
  border-top: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
