/* HTML reset kind of stuff  */

body {
  font-family: "Lucida Grande", verdana, sans-serif;
  font-size: 12px;
  margin: 0;
  text-align: left;
}

html, body {
  background: #e5e5e5;
}

form {
  margin: 0;
  padding: 0;
}

a:link, a:visited {
  color: #00e;
}

a img {
  border: 0;
}

input {
  width: auto;
  font-size: 14px;
  padding: 2px;
}

textarea {
  width: 250px;
  height: 80px;
}

td {
  margin: 0px;
  padding: 0px;
}

/* Layout */

#hd {
  height: 25px;
  padding: 10px 0px 10px 0px;
}

#bd {
  background: #fff;
  border: 1px solid #99f;
  padding: 2px 25px 2px 20px;
}

#mid {
  min-height: 525px;
}

#fthr {
  background:#ddd; 
  height:1px;
}

#ft {
  padding: 10px 0px 10px 0px;
}

#sidebar {
  padding:10px;
  background: #fff;
  min-height: 500px;
}

/* Minor Layout */

#add-step {
  margin: 4px 0px 4px 25px;
}

#plan-list-border {
  border: 1px solid #99f;
  background: #eee;
  padding: 4px;
}

#plan-list {
  width: 100%;
  margin: 0px;
}

#step-box {
  border: 1px solid #99f;
  background:#eee;
}

#wiki-note {
  float: right;
  margin-right: 80px;
}

#percent-tested {
  text-align:center;
  border-bottom:1px solid #99f;
}

#scenario-under-test {
  background:#eee;
  padding:5px;
}

/* Text */

.big-text {
  font-size: 24px;
  font-weight:bold;
}

.medium-text {
  font-size:16px;
  font-weight:bold;
}

.small-text { font-size: 10px; }
.bold { font-weight: bold; }

/* General */

.active { background: #ccf; }
.highlight { background-color: yellow; }
.warn { background-color: #ffc; }
.grey { color: #999; }
.blue { color: #99f; }

input.text-field {
  font-size: 14px;
  padding: 2px;
  width: 335px;
}

a.small:link,
a.small:visited {
  font-family: verdana, sans-serif;
  font-size: 10px;
  font-weight: normal;
  text-transform: none;
  color: #000;
}

.icon {
  padding: 1px 4px 4px 15px;
  width: 20px;
}

.tick { background: transparent url(../images/tick_small.png) no-repeat;}
.page { background: transparent url(../images/document_small.png) no-repeat;}
.minus { background: transparent url(../images/minus_small_circle.png) no-repeat;}
.pencil { background: transparent url(../images/pencil.png) no-repeat;}
.copy { background: transparent url(../images/layers-small.png) no-repeat;}
.plus { background: transparent url(../images/plus_small.png) no-repeat;}

/* Plans */

.plan-detail {
  padding: 5px;
  padding-left: 7px;
  width: 440px;
  border-bottom: 4px solid #eee; 
  background: #fff;
}

.plan-controls {
  padding-right: 7px;
  width: 160px;
  text-align: right;
  border-bottom: 4px solid #eee; 
  background: #fff;
}

/* Features and Scenarios */

.feature {
  background: #fff;
  padding: 5px 0px 0px 5px;
}

.feature-blank {
  padding-top:10px;
  text-align:center;
}

.feature-box {
  border: 1px solid #99f;
  background: #eee;
  padding: 5px;
}

.scenario {
  background: #fff;
  height: 40px;
}

.scenario-detail {
  float: left;
  width: 520px;
  padding: 5px 0px 2px 10px;
}

.scenario-delete {
  float: left;
  margin-top: 8px;
  width: 50px;
}

.handle {
  float: left;
  width: 35px;
  height: 40px;
  text-align: center;
  cursor: move;
}

.handle-image {
  margin-top: 8px;
}

/* Steps */

.step {
  cursor: move;
  background: #fff;
  margin: 5px;
  padding: 3px;
}

.step-number {
  display: inline-block;
  vertical-align: top;
  width: 15px;
}

.editable-content {
  display: inline-block;
  vertical-align: top;
  width: 255px;
  padding-left: 4px;
  padding-right: 4px;
}

.content-border { border-right:1px solid #ccc; }

.step-controls {
  display: inline-block;
  width: 50px;
  border-left: 1px solid #eee;
}

.editing-content {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  font-size: 16px;
  width: 285px;
  padding-left: 3px;
  padding-right: 6px;
  border: 1px solid #99f;
  background: #fff;
}

.step-insert {
  padding: 1px;
  background: #eee;
  border: 1px solid #99f;
}
