<% remote_form_for(Step.new) do |f| %>
  <table>
  <tr><th>Action</th><th>Verify</th></tr>
  <tr>
    <td><%= f.text_area :description, {:cols => 30, :rows => 10} %></td>
    <td><%= f.text_area :verify, {:cols => 30, :rows => 10}%></td>
  </tr>
  <tr><td align="right" colspan="2"><%= submit_tag 'Add Step' %></td></tr>
  </table>
  <br/>
  <%= f.hidden_field :use_case_id, {:value => @use_case.id} %>
<% end %>
