<a class="small" href="#" onclick="showNewStep(); return false;">Add a step</a>
<script type="text/javascript">
  function showNewStep() {
    $("#new_step").slideDown(250);
    $("#add-step").hide();
  }
</script>
