<div style="width: 535px">
<% remote_form_for([@scenario, Step.new]) do |f| %>
  <div>
    <%= f.text_area :description, {:rows => 10} %>
    <%= f.text_area :expected, {:rows => 10}%>
  </div>
  <div align="right">
    <%= submit_tag 'Add Step' %>
  </div>
  <br/>
<% end %>
</div>
