<div class="step-box" style="background: #fff">
<% remote_form_for([@scenario, Step.new]) do |f| %>
  <div style="margin:4px;padding-top:20px;background:#eee;">
  <div>
    <span class="step-number">&nbsp;</span>
    <span class="editing-content">
      <%= f.text_area :description, {:rows => 10} %>
    </span>
    <span class="editing-content">
      <%= f.text_area :expected, {:rows => 10}%>
    </span>
  </div>
  <br/>
  <div>
    <span class="step-number">&nbsp;</span>
    <%= submit_tag 'Add Step' %>
  </div>
  <br/>
  </div>
<% end %>
</div>
