<ul id="sort_step_list" style="margin:0px">
<% for @step in @scenario.steps %>
  <li id="step_<%= @step.id %>" style="cursor:move;list-style-type:none;">
    <%= render :partial => 'steps/step' %>
  </li>
<% end %>
</ul>
