<% unless @scenario.steps.empty? %>

<div id="sort_step_list" class="step-box">
<% for @step in @scenario.steps %>
  <% div_for @step do %>
    <%= render :partial => 'steps/step' %>
  <% end %>
<% end %>
</div>
<%= sortable_element 'sort_step_list',
      :tag => "div",
      :scroll => "window", 
      :url => update_step_order_scenario_path(@scenario), 
      :method => :put %>

<% end %>
