<span class="big-text"><%= hl_if_query(@scenario.name) %></span>
<%= link_to('Rename',
                   edit_scenario_path(@scenario),
                   :class => "small icon pencil",
                   :method => :get,
                   :remote => true) %>
