<% title h(@plan.name) + " - Scenario List" %>
<% navigation(link_to('Test Plans', plans_path)) %>

<div id="plan">
  <%= render :partial => "plans/plan_name" %>
</div>
<br/>

<div id="add_feature">
  <%= render :partial => 'features/add_feature' -%>
</div>
<br/>
<div id="scenario_list">
  <%= render :partial => 'scenario_list'-%>
</div>

<% footer(
     link_to('Delete this plan', @plan, :confirm => 'Are you sure?', :method => :delete),
     link_to_remote('Clear Results', 
       :url => clear_results_plan_path(@plan), 
       :method => :put,
       :confirm => "Clear test results for #{h(@plan.name)}?"), 
     link_to('HTML', @plan),
     link_to('XML', formatted_plan_path(@plan, :xml))
) %> 
