<span class="big-text"><%= @plan.name %></span>
<%= link_to_remote('Rename',
                   :url => edit_plan_path(@plan),
                   :html => {:class => "small-link rename-link"},
                   :method => :get) %>
