<span class="big-text"><%= @plan.name %></span>
<%= link_to('Rename',
                   edit_plan_path(@plan),
                   :remote => true,
                   :class => "small icon pencil",
                   :method => :get) %>
