<% for plan in @plans %>
  <div class="plan-box">
    <div class="plan">
      <%= plan.name %>
    </div>
    <div class="plan-links"> 
      <%= link_to 'Edit', plan_scenarios_path(plan) %> 
      <%= link_to 'HTML', plan %>
    </div>
  </div>
  <br/>
<% end %>
