<% title "Credits" %>
<% navigation("&nbsp;") %>
<div class="big-text">Credits</div>
<br/>
<div class="medium-text">Magpie Telecom Insiders</div>
<%= link_to "http://www.magpieti.com", "http://www.magpieti.com" %>
<br/>
<br/>

<div class="medium-text">Fugue Icons</div>
<%= link_to "http://pinvoke.com", "http://pinvoke.com" %>
<br/>
<br/>

<div class="medium-text">Silk Companion Icons</div>
<%= link_to "http://damieng.com/creative/icons/silk-companion-1-icons", 
            "http://damieng.com/creative/icons/silk-companion-1-icons" %>

<% footer(link_to('Test Plans', plans_path)) %>
