<h3>Test Plans</h3>
<%= link_to 'Add Test Plan', new_plan_path %>
<br/><br/>

<table>
<% for plan in @plans %>
  <tr>
    <td><%= link_to plan.name, plan %></td>
    <td>
      <%= link_to image_tag("page_white_acrobat.png", :border=>0), 
            formatted_plan_path(plan, :pdf) %>
    </td>
  </tr>
<% end %>
</table>
