<% title "Test Plans" %>
<% navigation "&nbsp;" %>
<div class="big-text"><%= yield(:title) %></div>
<br/>

<div id="add_plan">
  <%= render :partial => 'add_plan'-%>
</div>
<br/>

<div id="plan_list" class="plan-list">
  <%= render :partial => 'plan_list'-%>
</div>

<% footer(link_to('Search all plans', search_plans_path)) %> 
