<% title "Search All Plans" %>
<% navigation(link_to('Test Plans', plans_path)) %>
<span class="big-text">All Plans</span>

<% form_tag(search_plans_path, :method => :get, :style => "float:right;") do -%>
  <input name="query" type="text" value="<%=@query%>" class="text-field"/>
  <input type="submit" value="Search all plans" %>
<% end -%>
<br/><br/><br/>
<hr/>

<% for plan in @plans %>
  <%= search_plan_result(plan) %>
<% end %>

<% footer("&nbsp;") %> 
