<h3><%= @plan.name %> - Use Cases </h3>

<% for use_case in @plan.use_cases %>
  <%= link_to use_case.name, use_case %><br/>
<% end %>

<br/>
<%= link_to 'Add Use Case', new_use_case_path %><br/><br/>

<%= link_to 'Test Plan List', plans_path %>
