<span class="medium-text"><%= @feature.name %></span>
<%= link_to('Rename',
                   edit_feature_path(@feature),
                   :class => "small icon pencil",
                   :method => :get, 
                   :remote => true) %>

<% if @feature.scenarios.size == 0 %>
  <%= link_to('Delete',
        feature_path(@feature),
        :remote => true,
        :class => "small icon minus",
        :method => :delete)
        %>
<% end %>

