    <% if @feature.id == @feature.plan.features.last_updated.first.id %> 
      <%= javascript_tag("$('feature_#{@feature.id}').style.background='#9CF'") %>
    <% end %>
    <span id="feature_<%=@feature.id%>_name">
      <%= render :partial => "features/feature_name" %>
    </span>
