<span class="medium-text"><%= @feature.name %></span>
<%= link_to_remote('Rename',
                   :url => edit_feature_path(@feature),
                   :html => {:class => "small-link rename-link"},
                   :method => :get) %>

<% if @feature.scenarios.empty? %>
  <%= link_to_remote('Delete',
        :url => feature_path(@feature, :plan_id => @feature.plan.id), 
        :html => {:class => "small-link delete-link"},
        :method => :delete) %>
<% end %>
