<span class="medium-text"><%= @feature.name %></span>
<%= link_to('Rename',
                   :url => edit_feature_path(@feature),
                   :html => {:class => "small icon pencil"},
                   :method => :get,
                   :remote => true) %>

<% if @feature.scenarios.size == 0 %>
  <%= link_to('Delete',
        :url => feature_path(@feature),
        :html => {:class => "small icon minus"},
        :method => :delete, 
        :remote => true) %>
<% end %>

